.abouts {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3.2rem;
            font-weight: 800;
            text-align: center;
        }
        .title-des {
            font-size: $fontSize;
            font-weight: 400;
            text-align: center;
            max-width: 658px ;
            margin: 24px 0;
        }
        .list-items {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 24px;
            .item{ 
                .item-img {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .lorem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 16.27px 0;
                    span {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #46B20F;
                    }
                    input {
                        font-family: $font;
                        font-size: 1.5rem;
                        color: #A3A3A3;
                        font-weight: 500;
                    }
                }
                .bot-title {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 16.27px;
                    text-align: left;
                }
                .bot-des {
                    font-size: $fontSize;
                    font-weight: 400;
                    text-align: left;
                }
            }
        }
        .btn {
            margin: 80px 0 100px 0;
            padding: 12px 22px;
            background-color: transparent;
            border-radius: 6.667px;
            border: 1px solid #46B20F;
            color: $linkColor;
            font-size: 1.6667rem;
            font-weight: 700;
            cursor: pointer;
            span {
                font-size: 1.4rem;
            }
            &:hover {
                background-color: #46B20F;
                a {
                    color: #fff;
                }
            }
        }

    }
    
}
.about-info {
    margin-top: 100px;
    .list-items {
        display: grid;
        grid-template-columns: auto auto;
        gap: 55px;
        .item-alike {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 26px 112px 0 0;
            span {
                &:first-child {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #46B20F;

                }
                &:last-child {
                    font-size: $fontSize;
                    font-weight: 400;

                }
            }
            h3 {
                font-size: 2.4rem;
                font-weight: 700;
                margin: 10px 0 27px 0;


            }
            .btn {
            margin: 50px 0 100px 0 ;
            padding: 12px 22px;
            background-color: transparent;
            border-radius: 6.667px;
            border: 1px solid #46B20F;
            color: $linkColor;
            font-size: 1.6667rem;
            font-weight: 700;
            cursor: pointer;
            span {
                font-size: 1.4rem;
            }
            &:hover {
                background-color: #46B20F;
                a {
                    color: #fff;
                }
            }

            }

        }
        .item-1 {
            img {
                width: 100%;
                object-fit: cover;
            }

        }
         
        .item-2  {

        }

        .item-3 {

        }

        .item-4{
            img {
                width: 100%;
                object-fit: cover;
            }
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0,-105px);

        }

    }
}
.about-index {
    margin: 100px 0;
    h1 {
        font-size: 3.2rem;
        margin-bottom: 50px;
    }
    .about-content {
        .list-items {
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px;
        }
    }
}

@media screen and (max-width: 991px)  {
    .abouts {
        .about-content {
            .list-items {
                display: grid;
                grid-template-columns: auto auto;
                row-gap: 30px;
            }

        }
    }
}
@media screen and (max-width: 767px) {
    .about-info {
        .list-items {
            gap: 30px;
            .item-alike {
                padding: 0;
                h3 {
                    font-size: 2rem;
                    margin: 10px 0;
                }
                span {
                    font-size: 1.4rem;
                }
                .btn {
                    margin: 30px 0 0 0;
                }
    
            }
            .item-1 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
            }
             
            .item-2  {
    
            }
    
            .item-3 {
    
            }
    
            .item-4{
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0);
    
            }
    
        }
    }
}

@media screen and (max-width: 575px) {
    .abouts {
        .about-content {
            .list-items {
                display: grid;
                grid-template-columns: auto;
                row-gap: 30px;
            }

        }
    }
    .about-info {
        .list-items {
            display: grid;
            grid-template-columns: auto;
            gap: 30px;
            .item-alike {
                padding: 0;
                h3 {
                    font-size: 2rem;
                    margin: 10px 0;
                }
                span {
                    font-size: 1.4rem;
                }
                .btn {
                    margin: 30px 0 0 0;
                }
    
            }
            .item-1 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
            }
             
            .item-2  {
    
            }
    
            .item-3 {
    
            }
    
            .item-4{
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0);
    
            }
    
        }
    }
}