* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid #333;
}
form div {
  display: flex;
  justify-content: left;
  /* align-items: center; */
  gap: 100px;
}
#lbl-name,
#lbl-password,
#lbl-province {
  width: 50%;
  height: 30px;
  margin: 0 0 20px 0;

  outline: none;
}
#lbl-name {
  margin: 0 0 20px 18px;
}
#lbl-password {
  margin: 0 0 20px 22px;
}
#lbl-websever {
  width: 50%;
  height: 30px;
  text-align: center;
  outline: none;
  margin: 0 0 20px 2px;
}
#radio-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 0 0 10px 60px;
}
#check-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 50px 49px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  width: 100px;
  height: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: blueviolet;
  color: #fff;
  border: none;
}
