.hero {
    position: relative;
    margin-top: 108px;
    .bg-green {
        width: 50vh;
        height: 100%;
        background-color: #DCFFCA;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .hero-content {
        display: flex;
        position: relative;
        .hero-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1 {
                font-size: 3.667rem;
                font-weight: 800;
            }
            .title {
                font-size: 4.3333rem;
                font-weight: 800;
                max-width: 70%;
                margin: 10px 0 27px 0;
            }
            .des {
                font-size: 1.6rem;
                font-weight: 400;
                max-width: 75%;
            }
    
        }
    
    
        .hero-right {
            width: 50%;
            pointer-events: none;
            padding: 34px;
            background: #DCFFCA;
            display: flex;
            align-items: center;
            border-top-left-radius: 16.667px;
            border-bottom-left-radius: 16.667px;
                img {
                    position: relative;
                    top: -10px;
                    left: -130px;
                }
                span {
                    font-size: 14rem;   
                    font-weight: 800;
                    color: #226000;
                    text-align: center;
                    opacity: 0.15;
                    line-height: 1;
                    transform: rotate(90deg);
                    position: absolute;
                    top: 132px;
                    right: -100px;

            }
            

        }
    }
}
@media screen and (max-width: 1200px) {
    .hero {
        margin-top: 150px;
        .bg-green {
            display: none;
        }
        .hero-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .hero-left {
                width: 100%;
                align-items: center;
                .title {
                    max-width: 100%;
                }
                .des {
                    text-align: center;
                }
            
            }
    
            .hero-right {
                border-radius: 16px;
                width: 100%;
                img {
                    position: relative;
                    top: -10px;
                    left: -60px;
    
                }
                span {
                    font-size: 16rem;   
                    transform: rotate(90deg);
                    position: absolute;
                    top: 465px;
                    right: -10px;
    
                }
    
            }
        }

    }

}
@media screen and (max-width: 991px) {
    .hero {
        .hero-content {

            .hero-left {

                .title {
                }
                .des {
                }
            
            }
    
            .hero-right {
                img {
                    width: 60%;
                    position: relative;
                    top: -10px;
                    left: -60px;
                }
                span {
                    font-size: 10rem;   
                    transform: rotate(360deg);
                    position: absolute;
                    top: 399px;
                    right: 90px;
    
                }
    
            }
        }

    }

}
@media screen and (max-width: 767px) {
    .hero {
        .hero-content {

            .hero-left {

                .title {
                    font-size: 3rem;
                }
                .des {
                }
            
            }
    
            .hero-right {
                img {
                    width: 60%;
                    position: relative;
                    top: -10px;
                    left: -60px;
                }
                span {
                    font-size:8rem;   
                    transform: rotate(360deg);
                    position: absolute;
                    top: 355px;
                    right: 60px;
    
                }
    
            }
        }

    }

}
@media screen and (max-width: 575px) {
    .hero {
        .hero-content {
            gap: 20px;

            .hero-left {
                h1 {
                    font-size: 2.5rem;
                }

                .title {
                    font-size: 1.5rem;
                }
                .des {
                    font-size: 1.2rem;
                }
            
            }
    
            .hero-right {
                img {
                    width: 60%;
                    position: relative;
                    top: -5px;
                    left: -40px;
                }
                span {
                    font-size:5rem;   
                    transform: rotate(360deg);
                    position: absolute;
                    top: 262px;
                    right: 32px;
    
                }
    
            }
        }

    }

}