@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  background: #0b0d21;
  color: #fff;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.content {
  padding: 48px 0;
  display: grid;
  grid-template-areas:
    "sidebar header header header header header "
    "sidebar main main main main  main"
    "sidebar main main main main main ";
  gap: 34px;
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  display: flex;
  gap: 45px;
}
.header .form-search {
  display: flex;
  align-items: center;
  gap: 27px;
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
  width: 449px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid #202554;
  outline: none;
  padding: 18px 20px;
  width: 100%;
}
.header .form-search:hover {
  border: 2px solid #00a5ff;
  box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.2);
}
.header .form-search label {
  width: 100%;
}
.header .form-search label input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #a2a5b5;
  font-size: 1.6rem;
}
.header .form-search label input::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}
.header .form-search:hover input:hover::placeholder {
  color: #00a5ff;
}

.header .navbar {
  display: flex;
  gap: 16px;
}
.header .navbar .eth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 120px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid #202554;
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
  cursor: pointer;
}
.header .navbar .eth span:nth-child(2) {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.32px;
  font-family: "Poppins", sans-serif;
}
.header .navbar .bell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid #202554;
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
}
.header .navbar .bell > a {
  padding: 4px 0 0 0;
}
.header .navbar .create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid #202554;
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
  cursor: pointer;
}
.header .navbar .create > a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.header .navbar .connect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 56px;
  border-radius: 12px;
  border: 2px solid #00a5ff;
  box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.2);
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
  cursor: pointer;
}
.header > .navbar > li:hover {
  border: 2px solid #00a5ff;
  box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.2);
}
.header .navbar .connect > a {
  color: #f9fafb;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.header .user {
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header .user .user-social {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.header .user .user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.header .user .user-icon-down {
  cursor: pointer;
}
.header .user .user-icon-down i {
  font-size: 1.6rem;
  color: #b0b5bf;
}
.header .user .user-avatar > img {
  object-fit: contain;
}

.header .user .user-info p:first-child {
  color: #e3e4e8;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
}
.header .user .user-info p:last-child {
  color: #9dc4f8;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 400;
}
.header .user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-22.5px, 0);
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
}
/* Sidebar */
.sidebar {
  width: 72px;
  background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
  border-radius: 16px;
  border: 2px solid #202554;
  justify-content: space-between;
  padding: 32px 0;
}
.sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
}
.sidebar .sidebar-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  position: relative;
  transition: 200ms linear;
}
.sidebar .sidebar-menu li:hover {
  background: #232966;
  border-radius: 6px;
}
.sidebar .sidebar-menu li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -4px);
  width: 4px;
  height: 0;
  background: linear-gradient(90deg, #ec008c 0%, #fc6667 100%);
  transition: height 200ms linear;
}
.sidebar .sidebar-menu li:hover::after {
  height: 120%;
}
.sidebar > .sidebar-menu > li > label {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.sidebar-menu li .svg-margin {
  margin-left: 11px;
}
.ml-6 {
  margin-left: 6px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-7 {
  padding-top: 7px;
}
.sidebar-menu .line {
  width: 85% !important;
  height: 2px !important;
  background: #2e357b;
}
.sidebar .exit {
  width: 24px;
  height: 24px;
}
.content .sidebar .exit {
  margin-top: 185px;
}
/* Main */
.content .main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  /* align-items: center; */
}
.main .main-title {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.main .main-title h1 {
  font-size: 3.2rem;
  font-family: inherit;
  color: #e3e4e8;
  font-weight: 700;
}
.main .main-title label {
  display: flex;
  gap: 16px;
  align-items: center;
}
.main .main-title label span {
  font-size: 1.4rem;
  color: #86e7d4;
  font-weight: 700;
}
.main .main-title label span:last-child {
  cursor: pointer;
}
.main .main-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
.main .main-content .main-content-left,
.main .main-content .main-content-right {
}
.main-content > div > img {
  border-radius: 24px;
}

/* Seller */
.main .seller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.seller .top-seller span {
  color: #8ee4ba;
  font-size: 2.4rem;
  font-family: inherit;
  line-height: 1.4;
  font-weight: 700;
}
.seller .top-seller-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
}
.seller .top-seller-list .top-seller-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
}
.seller .top-seller-list .top-seller-user .seller-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.top-seller-list .seller-ava {
  width: 60px;
  height: 60px;
}
.seller .top-seller-list .top-seller-user .seller-info span:first-child {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: Poppins;
}
.seller .top-seller-list .top-seller-user .seller-info span:last-child {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3;
  color: #86e7d4;
  font-family: inherit;
}
.top-seller-list .tick {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(28px, 6px);
}

/* My profile */
.content .my-profile {
  height: 100%;
  padding: 32px 24px;
  flex-direction: column;
  gap: 30px;
  border-radius: 16px;
  align-items: center;
  border: 3px solid #005b89;
  background: linear-gradient(162deg, #161a43e5 22.61%, #161a43ef 118.29%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(0, 48px);
  display: none;
}
.content .my-profile.active {
  display: flex;
}

.my-profile .social {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-image: url(img/bg-profile.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  margin: -32px -24px;
  padding: 32px 24px;
}

.my-profile .social .my-social {
  display: flex;
  align-items: center;
}
.my-profile .social h2 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.5;
}
.my-profile .social .avatar {
  width: 105px;
  height: 105px;
  position: relative;
}
.my-profile .social .avatar::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  transform: translate(-10px, -10px);
  border-radius: 100%;
  border: 2px solid #0064ff;
}
.social .balance .balance-img {
}
.social .my-social {
  display: flex;
  align-items: center;
  gap: 17px;
}
.social > .my-social > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 11px;
}
.social > .my-social > div > span:first-child {
  width: 68px;
  height: 52px;
  border-radius: 16px;
  border: 2px solid #2162ff;
  background: #161a43;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.social > .my-social > div > span:last-child {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
}
.my-profile .balance {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.my-profile .balance h3 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.my-profile .balance .balance-info {
  width: 320px;
  height: 64px;
  border-radius: 16px;
  border: 2px solid #495099;
  background: #161a43;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.my-profile .balance .balance-info .ml {
  margin-right: 96px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.my-profile .balance .balance-info .add {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.my-profile .balance .balance-img {
  width: 32px;
  height: 32px;
}
.revenue .char {
  width: 320px;
  height: 184px;
  margin-top: 14px;
}
.revenue .revenue-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.revenue .revenue-title label span {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.recent label span {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.recent-img {
  width: 320px;
  height: 88px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #7c76918b;
  margin: 48px 0;
  border-radius: 16px;
  display: none;
}
.overlay.active {
  display: block;
}
/* Hot Bid */
.hot-bid {
}
.hot-bid .hot-bid-title span {
  font-size: 2.4rem;
  color: #b6f1fa;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
.hot-bid .hot-bid-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 40px;
  margin-top: 20px;
}
.hot-bid .hot-bid-list .hot-bid-img {
}
