 #title {
    margin-top: 100px;
    padding: 57px 200px;
    width: 100%;
    background-color: #F2FFEC;
    font-size: 4.333rem;
    font-weight: 700;
}
.greenchop {
    margin-top: 100px ;
    .greenchop-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 113.33px;

        h1 {
            font-size: 3.1667rem;
            font-weight: 800;
            text-align: center;
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;
            max-width: 644px;
            text-align: center;
            margin-top: 24px;
        }
        .list-items {
            margin: 117.5px 0 141.67px 0;
            display: flex;
            gap: 35px;

            .item-1, .item-2, .item-3 {
                display: flex;
                flex-direction: column;
                box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
                padding: 33.33px 33.33px 58.83px 33.33px;
                border-radius: 3.333px;
                position: relative;
                transition: 200ms ease;
                min-width: 187px;
                background-color: #FFF;
                &:hover {
                    // scale: 1.15;
                }
                .icon {
                    width: 83.33px;
                    height: 83.33px;
                    border-radius: 10px;
                    background-color: #FFF0E7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .numbers {
                    font-size: 4.3333rem;
                    font-weight: 800;
                    margin: 23.33px 0;
                }
                .text {
                    max-width: 222.5px;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
                
            }
            .item-2 {
                scale: 1.15;
                .icon {
                    background-color: #F2FFEC;
                }

            }
            .item-1::before {
                content: "";
                width: 235px;
                height: 235px;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translate(-132px,-50%);
                background-color: #DCFFCA;

            }
            .item-3::before {
                content: "";
                width: 235px;
                height: 235px;
                border-radius: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                transform: translate(132px,50%);
                background-color: #FFD5BD;
            }
            
        }
    }
}

.back-greenchop {
    h2 {
        font-size: 3.2rem;
        font-weight: 800;
        text-align: center;
    }
    .back-greenchop-content {
        .list-items {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 25px;
            .item {
                display: flex;
                align-items: center;
                gap: 118px;
                .text {
                    width: 50%;
                    span {
                        font-size: 1.333rem;
                        font-weight: 400;
                        &:first-child {
                            display: inline-block;
                            margin-bottom: 20px;
                        }
                    }

                }
                .img {
                    width: 50%;
                }

            }
        }

}

}
.product-greenchop {
    margin: 100px 0;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.misson {
    .misson-content {
        display: flex;
        align-items: center;
        gap: 90px;
        .img {
            width: 50%;

        }
        .text {
            width: 50%;
            h3 {
                font-size: 3.2rem;
                font-weight: 800;
                margin-bottom: 26.33px;
            }
            span {
                font-size: 1.3333rem;
                font-weight: 400;
            }

        }
    }
}



@media screen and (max-width: 991px)  {
    #title {
        text-align: center;
    }
   
    .greenchop {
        .greenchop-content {
            .list-items {
            margin-top: 70px;
                .item-1::before {
                    display: none;
                }
                .item-3::before {
                    display: none;
                } 
                .item-2 {
                    scale: 1;
                }
            }
        }
    }
}
@media screen and (max-width: 767px)  {
    #title {
        padding: 40px ;
    }
    .greenchop {
        .greenchop-content {
            padding: 0 60px;
           .list-items {
            display: flex;
            flex-direction:column ;
            gap: 80px;

           }
        }
    }
    .back-greenchop {
        .back-greenchop-content {
            .list-items {

                .item {
                    gap: 30px;
                }
            }
    
    }
    
    }
}
@media screen and (max-width: 575px)  {
    .back-greenchop {
        .back-greenchop-content {
            .list-items {
                display: flex;
                align-items: center;
                gap: 50px;
                margin-top: 25px;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 60px;
                    .text {
                        width: 100%;
                        span {
                            font-size: 1.333rem;
                            font-weight: 400;
                        }
                    }
                    .img {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:nth-child(2) {
                        display: flex;
                        flex-direction: column-reverse;
                    }
    
                }
            }
    
    }
    
    }
    
    .greenchop {
        .greenchop-content {
            padding: 0 20px;
            h1 {
                font-size: 2.5rem;
                
            }
            p {
                font-size: 1.2rem;
            }
          
        }
    }
    .product-greenchop {
        margin: 100px 0;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    
    .misson {
        .misson-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 90px;
            .img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
    
            }
            .text {
                width: 100%;
                h3 {
                    font-size: 3.2rem;
                    font-weight: 800;
                    margin-bottom: 26.33px;
                }
                span {
                    font-size: 1.3333rem;
                    font-weight: 400;
                }
    
            }
        }
    }
}