.greenchop {
    margin-top: 180px ;
    .greenchop-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 113.33px;

        h1 {
            font-size: 3.1667rem;
            font-weight: 800;
            text-align: center;
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;
            max-width: 644px;
            text-align: center;
            margin-top: 24px;
        }
        .list-items {
            margin: 117.5px 0 141.67px 0;
            display: flex;
            gap: 35px;

            .item-1, .item-2, .item-3 {
                display: flex;
                flex-direction: column;
                box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
                padding: 33.33px 33.33px 58.83px 33.33px;
                border-radius: 3.333px;
                position: relative;
                transition: 200ms ease;
                min-width: 187px;
                background-color: #FFF;
                &:hover {
                    // scale: 1.15;
                }
                .icon {
                    width: 83.33px;
                    height: 83.33px;
                    border-radius: 10px;
                    background-color: #FFF0E7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .numbers {
                    font-size: 4.3333rem;
                    font-weight: 800;
                    margin: 23.33px 0;
                }
                .text {
                    max-width: 222.5px;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
                
            }
            .item-2 {
                scale: 1.15;
                .icon {
                    background-color: #F2FFEC;
                }

            }
            .item-1::before {
                content: "";
                width: 235px;
                height: 235px;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translate(-132px,-50%);
                background-color: #DCFFCA;

            }
            .item-3::before {
                content: "";
                width: 235px;
                height: 235px;
                border-radius: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                transform: translate(132px,50%);
                background-color: #FFD5BD;
            }
            
        }
    }
}
@media screen and (max-width: 991px)  {
    .greenchop {
        .greenchop-content {
            .list-items {
            margin-top: 70px;
                .item-1::before {
                    display: none;
                }
                .item-3::before {
                    display: none;
                } 
                .item-2 {
                    scale: 1;
                }
            }
        }
    }
}
@media screen and (max-width: 767px)  {
    .greenchop {
        .greenchop-content {
            padding: 0 60px;
           .list-items {
            display: flex;
            flex-direction:column ;
            gap: 80px;
           }
        }
    }
}
@media screen and (max-width: 575px)  {
    .greenchop {
        .greenchop-content {
            padding: 0 20px;
            h1 {
                font-size: 2.5rem;
                
            }
            p {
                font-size: 1.2rem;
            }
          
        }
    }
}